<mets:structMap>
  <mets:div TYPE="Basic" DMDID="DMDID-FILM">
    <mets:div TYPE="Media" DMDID="DMDID-FILM-METS">
      <mets:div TYPE="Representation" LABEL="Original">
        <mets:fptr FILEID="FILEID-FILM-METS" />
      </mets:div>
    </mets:div>
    {% for file in files %}
    <mets:div TYPE="Media" DMDID="{{ file.id.replace('FILEID', 'DMDID') }}">
      <mets:div TYPE="Representation" LABEL="Original">
        <mets:fptr FILEID="{{ file.id }}" />
      </mets:div>
    </mets:div>
    {% endfor %}
  </mets:div>
</mets:structMap>