<mets:amdSec ID="EVENTS">
  {% for event in events %}
  <mets:digiprovMD>
    <mets:mdWrap MDTYPE="PREMIS:EVENT">
      <mets:xmlData>
        <premis:event>
          <premis:eventType>{{ event.type }}</premis:eventType>
          <premis:eventDateTime>{{ event.started_at_time.value }}</premis:eventDateTime>          
          {# <premis:linkingAgentIdentifier>
            <premis:linkingAgentIdentifierType>{{ agent.type }}</premis:linkingAgentIdentifierType>
            <premis:linkingAgentIdentifierValue>{{ agent.value }}</premis:linkingAgentIdentifierValue>
            {% if agent.role %}
            <premis:linkingAgentRole>{{ agent.role }}</premis:linkingAgentRole>
            {% endif %}
          </premis:linkingAgentIdentifier> #}
        </premis:event>
      </mets:xmlData>
    </mets:mdWrap>
  </mets:digiprovMD>
  {% endfor %}
</mets:amdSec>
