<mets:dmdSec ID="DMDID-{{ profile.upper()}}" CREATED="2023-11-20T21:44:28" STATUS="original">
  <mets:mdWrap MDTYPE="OTHER" OTHERMDTYPE="mhs:Sidecar">
    <mets:xmlData>
      <mhs:Sidecar xmlns:mhs="https://zeticon.mediahaven.com/metadata/22.1/mhs/"
        xmlns:mh="https://zeticon.mediahaven.com/metadata/22.1/mh/" version="22.1">
        <mhs:Administrative>
          <mh:ExternalId>{{ pid }}</mh:ExternalId>
        </mhs:Administrative>
        <mhs:Descriptive>
          <mh:Title>{{ ie.name.nl }}</mh:Title>
        </mhs:Descriptive>
        <mhs:Dynamic>
          <dc_title>{{ ie.name.nl }}</dc_title>
          <dcterms_created>{{ ie.date_created.value }}</dcterms_created>
          <dc_rights_licenses>
            {% for license in ie.license %}
            <multiselect>{{ license.pref_label.nl }}</multiselect>
            {% endfor %}
          </dc_rights_licenses>
          <PID>{{ pid }}</PID>
          <CP_id>{{ie.maintainer.identifier}}</CP_id>
          <sp_name>sipin</sp_name>
        </mhs:Dynamic>
      </mhs:Sidecar>
    </mets:xmlData>
  </mets:mdWrap>
</mets:dmdSec>
<mets:dmdSec ID="DMDID-{{ profile.upper()}}-METS" CREATED="2023-11-20T21:44:28" STATUS="original">
  <mets:mdWrap MDTYPE="OTHER" OTHERMDTYPE="mhs:Sidecar">
    <mets:xmlData>
      <mhs:Sidecar xmlns:mhs="https://zeticon.mediahaven.com/metadata/22.1/mhs/"
        xmlns:mh="https://zeticon.mediahaven.com/metadata/22.1/mh/" version="22.1">
        <mhs:Administrative>
          <mh:ExternalId>{{ pid }}_mets</mh:ExternalId>
        </mhs:Administrative>
        <mhs:Descriptive>
          <mh:Title>{{ pid }}_mets</mh:Title>
        </mhs:Descriptive>
      </mhs:Sidecar>
    </mets:xmlData>
  </mets:mdWrap>
</mets:dmdSec>
{% for dmd_sec in dmd_sections %}
<mets:dmdSec ID="{{ dmd_sec.id }}">
  <mets:mdWrap MDTYPE="OTHER" OTHERMDTYPE="mhs:Sidecar">
    <mets:xmlData>
      <mhs:Sidecar xmlns:mh="https://zeticon.mediahaven.com/metadata/20.3/mh/"
        xmlns:mhs="https://zeticon.mediahaven.com/metadata/20.3/mhs/" version="20.3"
        xsi:schemaLocation="https://zeticon.mediahaven.com/metadata/20.3/mhs/ https://zeticon.mediahaven.com/metadata/20.3/mhs.xsd https://zeticon.mediahaven.com/metadata/20.3/mh/ https://zeticon.mediahaven.com/metadata/20.3/mh.xsd">
        <mhs:Administrative>
          <mh:ExternalId>{{dmd_sec.external_id}}</mh:ExternalId>
        </mhs:Administrative>
        <mhs:Descriptive>
          <mh:OriginalFilename>{{ dmd_sec.original_name}}</mh:OriginalFilename>
        </mhs:Descriptive>
        <mhs:Dynamic>
          <PID>{{ dmd_sec.pid }}</PID>
          <CP_id>{{ dmd_sec.cp_id }}</CP_id>
          <sp_name>{{ dmd_sec.sp_name }}</sp_name>
        </mhs:Dynamic>
      </mhs:Sidecar>
    </mets:xmlData>
  </mets:mdWrap>
</mets:dmdSec>
{% endfor %}